@model FitnessSolution.Models.RecipeEntity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrap-login100" style="width: 1200px; padding: 130px 130px 70px 100px;">
    <div class="login100-pic">
        <div class="js-tilt" data-tilt>
            <a href='https://www.freepik.com/vectors/frame'>
                <img src="@Model.RecipeImageName" asp-append-version="true" style="padding-top: 50px;" alt="">
            </a>
        </div>
        <div class="text-center p-t-130">
            <a asp-action="Index" class="txt2">
                Back to List
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <form class="login100-form" style="width: 500px;" asp-action="Delete">
        <h3>Are you sure you want to delete this?</h3>
        <a asp-action="Index" class="txt2" style="padding-bottom: 30px;">
            Back to List
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
        <input type="hidden" asp-for="RowKey" />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecipeTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecipeTitle)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecipeDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecipeDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DietEntity.DietTitle)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DietEntity.DietTitle)
            </dd>
        </dl>
        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button type="submit" class="login100-form-btn">
                    Delete
                </button>
            </div>
        </div>
    </form>
</div>