@model FitnessSolution.Models.RecipeEntity
@using Microsoft.AspNetCore.Identity
@using FitnessSolution.Areas.Identity.Data
@using FitnessSolution.Helpers

@inject SignInManager<FitnessSolutionUser> SignInManager
@inject UserManager<FitnessSolutionUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="prtfolio-s-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="@Model.RecipeImageName" asp-append-version="true" alt="">
            </div>
            <!-- .col -->
            <div class="col-sm-6">
                <div class="portfolio-s-head">
                    <h2 style="margin-bottom: 0px;">@Html.DisplayFor(model => model.RecipeTitle)</h2>
                    @if (User.IsInRole(Constants.ROLE_NUTRITIONIST) || User.IsInRole(Constants.ROLE_ADMIN))
                    {
                        <a asp-action="Edit" asp-route-id="@Model.RowKey">Edit</a>
                    }
                    <a asp-action="Index"> Back to List</a>
                    <ul style="margin-top: 30px; margin-bottom: 0px;" class="portfolio-s-info">
                        <li><span>Category:</span>@Html.DisplayFor(model => model.Type)</li>
                    </ul>
                    <p>
                        @Html.DisplayFor(model => model.RecipeDescription)
                    </p>
                </div>

            </div>
            <!-- .col -->
            <div class="col-sm-12">
                <!-- .widget -->
                <!-- .col -->
                <aside class="sidebar">
                    <!-- .widget -->
                    <div class="widget">
                        <h3 class="widget-title">Diet</h3>
                        <div class="portfolio-filter">
                            <ul>
                            </ul>
                        </div>
                        <div class="widget-body">
                            <!-- forEach -->
                            <!-- .media -->
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a asp-controller="Diets" asp-action="Details" asp-route-id="@Model.PartitionKey">
                                        <img class="media-object" src="@Model.DietEntity.DietImageName" asp-append-version="true" alt="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <div class="media-body-inset">
                                        <h3><a asp-controller="Diets" asp-action="Details" asp-route-id="@Model.PartitionKey">@Html.DisplayFor(modelItem => Model.DietEntity.DietTitle)</a></h3>
                                        <div class="recent-post-date">@Html.DisplayFor(modelItem => Model.DietEntity.Type)</div>
                                    </div>
                                </div>
                            </div>
                            <!-- .media -->

                        </div>
                        <!-- .widget-body -->
                    </div>
                    <!-- .widget -->
                </aside>
                <!-- .sidebar -->
            </div>
            <!-- .col -->

        </div>
    </div>

</section>