@model FitnessSolution.Models.Diet
@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="prtfolio-s-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="@Model.DietImageName" asp-append-version="true" alt="">
            </div>
            <!-- .col -->
            <div class="col-sm-6">
                <div class="portfolio-s-head">
                    <h2 style="margin-bottom: 0px;">@Html.DisplayFor(model => model.DietTitle)</h2>
                    @if (((ClaimsIdentity)User.Identity).FindFirst("Check").Value == "nutritionist")
                    {
                        <a asp-action="Edit" asp-route-id="@Model.DietId">Edit</a>
                        <a asp-action="Index">| Back to List</a>
                    }
                <ul style="margin-top: 30px; margin-bottom: 0px;" class="portfolio-s-info">
                    <li><span>Category:</span>@Html.DisplayFor(model => model.Type)</li>
                </ul>
                <p>
                    @Html.DisplayFor(model => model.DietDescription)
                </p>
                </div>

            </div>
            <!-- .col -->
            <div class="col-sm-12">
                <!-- .widget -->
                <!-- .col -->
                <aside class="sidebar">
                    <!-- .widget -->
                    <div class="widget">
                        <h3 class="widget-title">Recipies</h3>
                        <div class="portfolio-filter">
                            <ul>
                                <li><a href="#" data-filter="*">All</a></li>
                                <li><a href="#" data-filter=".breakfast">Breakfast</a></li>
                                <li><a href="#" data-filter=".lunch">Lunch</a></li>
                                <li><a href="#" data-filter=".dinner">Dinner</a></li>
                                <li><a href="#" data-filter=".snacks">Snacks</a></li>
                            </ul>
                        </div>
                        <div class="widget-body">
                            @foreach (var item in Model.Recipes)
                            {
                                <!-- .media -->
                                <div class="media @((item.Type == "Breakfast") ? "breakfast" : "") @((item.Type == "Lunch") ? "lunch" : "") @((item.Type == "Dinner") ? "dinner" : "") @((item.Type == "Snacks") ? "snacks" : "")">
                                    <div class="media-left media-middle">
                                        <a asp-controller="Recipes" asp-action="Details" asp-route-id="@item.RecipeId">
                                            <img class="media-object" src="@("~/uploads/"+ item.RecipeImageName)" asp-append-version="true" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="media-body-inset">
                                            <h3><a asp-controller="Recipes" asp-action="Details" asp-route-id="@item.RecipeId">@Html.DisplayFor(modelItem => item.RecipeTitle)</a></h3>
                                            <div class="recent-post-date">@Html.DisplayFor(modelItem => item.Type)</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .media -->
                            }
                        </div>
                        <!-- .widget-body -->
                    </div>
                    <!-- .widget -->
                </aside>
                <!-- .sidebar -->
            </div>
            <!-- .col -->

        </div>
    </div>

</section>
