@model IEnumerable<FitnessSolution.Models.DietEntity>
@using Microsoft.AspNetCore.Identity
@using FitnessSolution.Areas.Identity.Data
@using FitnessSolution.Helpers

@inject SignInManager<FitnessSolutionUser> SignInManager
@inject UserManager<FitnessSolutionUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-area hero-area-all hero-meal">
    <div class="container">
        <div class="hero-title">
            <h1>Healthy</h1>

            <h1><span style="color:#f36100">Nutrition</span> Plans</h1>
            <div class="breadcrumb">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Diet</li>
                </ul>
            </div>
        </div>
        <!-- .hero-title -->
    </div>
    <!-- .container -->
</section>
<!-- End Hero Area -->
<!-- Start Portfolio Area -->
<section class="portfolio-area" style="padding-top: 0px;">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <div class="text-center p-t-35">
            @if (User.IsInRole(Constants.ROLE_NUTRITIONIST)|| User.IsInRole(Constants.ROLE_ADMIN))
            {
                <a asp-action="Create" class="txt2" style="font-size: 17px;">
                    Create New
                    <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            }
        </div>
    </div>
    <div class="container p-l-r-0 portfolio-even">
        <div class="portfolio-filter text-center">
            <ul>
                <li class="active"><a href="#" data-filter="*">ALL</a></li>
                <li><a href="#" data-filter=".item-1">Low-fat</a></li>
                <li><a href="#" data-filter=".item-2">Low-crab</a></li>
                <li><a href="#" data-filter=".item-3">Mediterranean</a></li>
            </ul>
        </div>
        <!-- .portfolio-filter-area -->
        <div class="portfolio" id="portfolio_box">
            @foreach (var item in Model)
            {
                <div class="portfolio-item @((item.Type == "Low-crab") ? "item-2" : "") @((item.Type == "Low-fat") ? "item-1" : "") @((item.Type == "Mediterranean") ? "item-3" : "")">
                    <div class="inner-portfolio">
                        <img src="@item.DietImageName" asp-append-version="true" alt="">
                        <div class="portfolio-s-head">
                            <h2>@Html.DisplayFor(modelItem => item.DietTitle)</h2>
                            @if (User.IsInRole(Constants.ROLE_NUTRITIONIST) || User.IsInRole(Constants.ROLE_ADMIN))
                            {
                                <a asp-action="Edit" asp-route-id="@item.PartitionKey">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.PartitionKey">| Delete</a>
                            }
                        </div>
                        <div class="portfolio-hover text-center">
                            <h2><a asp-action="Details" asp-route-id="@item.PartitionKey">@Html.DisplayFor(modelItem => item.DietTitle)</a></h2>
                        </div>
                        <!-- .portfolio-hover -->
                    </div>
                </div>
                <!-- .portfolio-item -->
            }
        </div>
        <!-- .portfolio -->
    </div>
    <!-- .container -->
</section>
